//registry.npmjs.org/:_authToken=2bc1ccfd-e978-4e21-b7a9-0f3bab324a78
registry=https://registry.npmjs.org/
git-tag-version=false
save-exact=false
package-lock=true
legacy-peer-deps=true

# Git URL overrides for faker
@faker-js:registry=https://registry.npmjs.org/
